<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">
    
    <beans:bean id="appUserDetailsService" class="com.biblioteca.security.AppUserDetailsService" />
    
    <http pattern="/login.xhtml" security="none" />
    <http pattern="/Erro.xhtml" security="none" />
    <http pattern="/javax.faces.resource/**" security="none" />
    
	<http auto-config="false" use-expressions="true">
		<intercept-url pattern="/Home.xhtml" access="isAuthenticated()" />
		<intercept-url pattern="/AcessoNegado.xhtml" access="isAuthenticated()" />
		
		<intercept-url pattern="/emprestimo/**" access="hasAnyRole('ESTUDANTE', 'ADMINISTRADOR', 'PROFESSOR')" />
		<intercept-url pattern="/livro/PesquisaLivros.xhtml" access="hasAnyRole('ADMINISTRADOR', 'ESTUDANTE', 'PROFESSOR')" />
		<intercept-url pattern="/livro/CadastroLivro.xhtml" access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/grupo/**" access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/usuario/CadastroUsuario.xhtml" access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/usuario/PesquisaUsuarios.xhtml" access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/usuario/MeuPerfil.xhtml" access="hasAnyRole('ADMINISTRADOR', 'ESTUDANTE', 'PROFESSOR')" />
		<intercept-url pattern="/**" access="denyAll" />
		
		<form-login login-page="/login.xhtml" authentication-failure-url="/login.xhtml?invalid=true" 
			default-target-url="/" always-use-default-target="true" />
		<logout logout-url="/j_spring_security_logout" invalidate-session="true" />
	</http>
	
	<authentication-manager>
		<authentication-provider user-service-ref="appUserDetailsService">
			<!-- <password-encoder hash="md5" /> -->
		</authentication-provider>
	</authentication-manager>
           
</beans:beans> 